
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  background-color: #FFFFFF;
  height: 736px;
  margin: auto;
  overflow-y: scroll;
  width: 414px;
}

.statusbar {
  background-image: url("../images/statusbar.png");
  background-size: cover;
  background-color: rgba(30, 87, 100, 100);
  display: block;
  height: 25px;
  width: 100%;
}

.navbar {
  background-color: #006075;
  height: 3.5em;
}

.back_arrow {
  float: left;
  padding-left: 5%;
  padding-top: 3.8%;
}

span.navbar {
  color: #FFFFFF;
  float: right;
  font-size: 1.2em;
  letter-spacing: .1em;
  padding-right: 23%;
  padding-top: 4%;
}

.map {
  background-image: url("../images/map_w_bus_2.png");
  background-size: cover;
  display: block;
  height: 14em;
  position: relative;
}

.title {
  background-color: #006075;
  height: 3.5em;
  text-align: center;
}

span.title {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .1em;
  position: relative;
  text-transform: uppercase;
  top: 30%;
}

.menu {
  background-color: #EAEAEA;
  display: block;
  height: 2em;
  width: 100%;
}

.bus_line {
  float: left;
  padding-left: 5%;
  padding-top: 2.5%
}

.dest_header {
  float: left;
  padding-left: 7%;
  padding-top: 2.5%;
}

.departs_in {
  float: right;
  padding-right: 5%;
  padding-top: 2.5%;
}

.bus_line, .dest_header, .departs_in {
  color: #4A4A4A;
  font-size: .9em;
}

.bus_info, .bus_info_last {
  border-bottom: .5px solid #DCDCDC;
  display: block;
  height: 4.5em;
  width: 100%;
}

.bus_info_last {
  margin-bottom: 13%;
}

.busnumber {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5%;
  width: 10%;
}

.destination {
  float: left;
  font-size: 1.1em;
  height: 1.1em;
  color: #4A4A4A;
  padding-left: 15%;
  padding-top: 5.5%;
}

.destination h4 {
  font-size: .8em;
  position: relative;
  top: .3em;
  left: 0;
}

.mins {
  color: #4A4A4A;
  float: right;
  width: 21%;
  padding-top: 5%;
  padding-right: 2%;
}

.bold {
  font-weight: bold;
}

.min_bold {
  font-weight: bold;
  font-size: 1.6em;
}

.resumes_bold {
  font-weight: bold;
  font-size: 1.1em;
}

.NA_bold {
  font-weight: bold;
  font-size: 1.3em;
}

.out, .reroute {
  color: red;
  font-size: .8em;
  position: relative;
  top: .3em;
}

.resumes_time {
  font-size: .8em;
  position: relative;
  top: .3em;
}

.tabbar {
  background-color: #006075;
  height: 4.5em;
  font-size: .8em;
  position: fixed;
  bottom: 0;
  width: 414px;
}

.tabbar_icons {
  color: #FFFFFF;
  float: left;
  padding-top: 2.5%;
  text-align: center;
  width: 33.3%;
}

.tabbar_text {
  color: #FFFFFF;
  float: left;
  padding-top: 1.5%;
  text-align: center;
  width: 33.3%;
}
